<div class="dialog order-application">
	<form name="orderForm" id="orderForm" class="order-form">
		<div class="title"><span ng-bind="ngDialogData.header"></span></div>
		<h4 class="message" ng-bind="ngDialogData.item.name"></h4>
		<p class="message"><span ng-bind="ngDialogData.text"></span></p>
        <div class="button-wrapper">
            <button ng-click="confirm()" class="btn btn-confirm confirm" type="submit">
                <div>Да</div>
            </button>
            <button class="btn btn-cancel" type="button" ng-click="closeThisDialog()">
                <div>Нет</div>
            </button>
        </div>
	</form>
	<a href="" class="close-form" ng-click="closeThisDialog()"></a>
</div>
